// ------------------------------------
// BUTTONS
// ------------------------------------

.btn {
    cursor:pointer;
    &--normalize {
        border:0px;
        background-color:transparent;
    }
    &--icon {
        font-size:0.8rem;
        line-height:100%;
        border:1px solid $red;
        border-radius:0px;
        background-color:$white;
        img {
            width:12px;
        }
    }   
}
