// ------------------------------------
// FONTS
// ------------------------------------

@font-face {
    font-family: 'ABCSans';
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/abcsans-regular.eot");
    src: url("../fonts/abcsans-regular.eot?#iefix") format("embedded-opentype"), 
    url("../fonts/abcsans-regular.woff2") format("woff2"), 
    url("../fonts/abcsans-regular.woff") format("woff"), 
    url("../fonts/abcsans-regular.ttf") format("truetype"), 
    url("../fonts/abcsans-regular.svg#abcsansregular") format("svg")
}

@font-face {
    font-family: 'ABCSans Bold';
    font-weight: 600;
    font-style: normal;
    src: url("../fonts/abcsans-bold.eot");
    src: url("../fonts/abcsans-bold.eot?#iefix") format("embedded-opentype"), 
    url("../fonts/abcsans-bold.woff2") format("woff2"), 
    url("../fonts/abcsans-bold.woff") format("woff"), 
    url("../fonts/abcsans-bold.ttf") format("truetype"), 
    url("../fonts/abcsans-bold.svg#abcsansbold") format("svg")
}

body {
    font-family: "ABCSans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif
}

// ------------------------------------
// FONT COLOURS - Add more as needed
// ------------------------------------

.fc {
    &--white {
        color:$white;
    }
}

// ------------------------------------
// FONT WEIGHTS
// ------------------------------------

.font {
    &--bold {
        font-family: 'ABCSans Bold';
    }
}

// ------------------------------------
// FONT DECORATIONS - Add more as needed
// ------------------------------------

.font {
    &--uppercase {
        text-transform:uppercase;
    }
}

.font {
    &--title-1 {
        font-size:1.5rem;
        line-height:2rem;
        @include media-breakpoint-up(sm) {
            font-size:2rem;
            line-height:2.5rem;
        }
    }
    &--small {
        font-size:0.9rem;
    }
}