// ------------------------------------
// ADD ANY VARIABLES HERE
// ------------------------------------

// $example:#fcfcf9;
$darkGrey: #444444;
$lightGrey:#ededed;
$white: #ffffff;
$orange: #ff6e00;
$red: #e03124;