@import '../../assets/scss/_variables';
@import '../../assets/scss/vendor/bootstrap/variables';
@import '../../assets/scss/vendor/bootstrap/mixins';
@import '../../assets/scss/vendor/bootstrap/utilities/spacing';

// ------------------------------------
// CARD COMPONENT
// ------------------------------------

.card {
    // Card Outer wrapper
    border:1px solid $lightGrey;
    max-width:500px;
    // Image wrapper
    &__image {
        border:1px solid $lightGrey;
    }
    // Wraps triple j drum icon and play button
    &__play-btn-wrapper {
        position:absolute;
        bottom:0px;
        left:0px;
    }
    // Triple J drum icon
    &__drum-icon {
        background-color:$white;
        height:inherit;
        img {
            width:30px;
            @include media-breakpoint-up(sm) {
                width:40px;
            }
        }
    }
    // Card play button
    &__play-btn {
        background-color:$darkGrey;
        img {
            width:15px;
            @include media-breakpoint-up(sm) {
                width: 25px;
            }
        }
    }
    // Top right Live icon
    &__live-tag {
        background-color:$orange;
        position:absolute;
        top:-10px;
        right:0px;
    }
    // Share Card row
    &__share {
        border-top:1px solid $lightGrey;
    }
    &__share-icon {
        width:25px;
    }
}